@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.
<div class="flex items-center justify-center gap-4 bg-slate-700">
    <h1 class="bg-red-300 text-black">This is the tailwind Integration Testing...</h1>
    <h1 class="text-3xl text-white">This is the tailwind Integration Testing2...</h1>

</div>